.navi {
  background: #f8ce56
}
body {
  margin: 0;
}
.navList {
  list-style: none;
  display: flex;
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-around;
  height: 60px;
  align-items: center;
  font-size: 28px;
  font-weight: 600;
}
.body {
  background-image: url("assets/img/background.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}